{erl_opts, [debug_info]}.
{deps, [
    {guanco, {git, "https://github.com/drasko/guanco.git", {branch, "main"}}}
]}.

{relx, [
    {release, {'mustachioed-llama', "0.1.0"}, [mustachioed_llama, hackney]},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {mode, prod}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [mustachioed_llama]},
    {vm_args, "config/vm.args"}
]}.
