{erl_opts, [debug_info]}.
{deps, [
    {guanco, {git, "https://github.com/drasko/guanco.git", {branch, "main"}}}
]}.

{profiles, [
    {test, [
        {deps, [{meck, "0.9.2"}]},
        {erl_opts, [debug_info]}
    ]}
]}.

{ct_opts, [
    {sys_config, "config/shell.sys.config"},
    {logdir,     "logs/ct"}
]}.

{relx, [
    {release, {'mustachioed_llama', "0.1.0"}, [mustachioed_llama, hackney]},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {mode, prod}
]}.

{escript_name, mustacioed_llama}.

{provider_hooks, [{post, [{compile, escriptize}]}]}.

{shell, [
    {config, "config/shell.sys.config"},
    {apps, [mustachioed_llama]},
    {vm_args, "config/shell.vm.args"}
]}.
